<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>218013554637-cnok4iqc0nihehtp9ogs57ji886bib7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218013554637-cnok4iqc0nihehtp9ogs57ji886bib7h</string>
	<key>API_KEY</key>
	<string>AIzaSyBV9Y9FCblCAo8GQ19yXbiV_ouOjtk4smc</string>
	<key>GCM_SENDER_ID</key>
	<string>218013554637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.garupa</string>
	<key>PROJECT_ID</key>
	<string>maps-asset-38755060</string>
	<key>STORAGE_BUCKET</key>
	<string>maps-asset-38755060.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:218013554637:ios:82173100942c39ee</string>
	<key>DATABASE_URL</key>
	<string>https://maps-asset-38755060.firebaseio.com</string>
</dict>
</plist>